        <h1>CAP INVOICES</h1>

        <h2>{{ theTitle.val }}</h2>

        <div clas="row">
            <table id="invoiceTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Order #</th>
                        <th>Customer</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Date</th>
                        <th>Order #</th>
                        <th>Customer</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let invoice of invoices">
                        <td>{{invoice.order_date}}</td>
                        <td>{{invoice.id}}</td>
                        <td>{{invoice.user_name}}</td>
                        <td>{{invoice.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>